
// @use './video.scss';
// @use './table.scss';

.main_container{
    background-color: rgb(52, 72, 151);
    box-sizing: border-box;
    width: 100vw;
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #000000;
    .container{
        padding: 50px 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        align-items: center;
        // border: 1px solid blue;
        height: 100%;
        h1{
            color: white;
            text-align: center;
            width: 190px;
            // border: 1px solid green;
            font-weight: bold;
        }
        img{
            width: 800px;
            border-radius: 50px;
        }
    }
    .login{
        // border: 1px solid pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        .login_container{
            // border: 1px solid gray;
            border-radius: 30px;
            background-color: rgb(7, 7, 49);
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            // padding: 10px;
            box-sizing: border-box;
            h2{
                color:white;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .login_inputs{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
                width: 100%;
                padding: 20px
                ;
                .login_input{
                    width: 100%;
                    height: 40px;
                    border-radius: 15px;
                    outline: none;
                    padding: 10px 30px ;
                    background-color: gray;
                    // color:white;
                    font-size: bold;
                    border: none;
                    &::placeholder{
                        color: white;
                    }
                }
                .login_button{
                    color: white;
                    font-weight: 800;
                    width: 100%;
                    height: 40px;
                    border-radius: 15px;
                    border: none;
                    outline: none;
                    background-color: rgb(19, 152, 169);
                    // box-shadow: 10px 10px 5px 0px rgba(131, 126, 126, 0.75);
                }
            }
        }
    }
}





// .navbar{
//     // border: 2px solid red;
//     padding: 5px 20px;

//     .navbar_container{
//         // border:2px solid blue;
//         height: 70px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-bottom: 1px solid gray;

        
//         &-lista{
//             // border: 2px solid purple;
//             display: flex;
//             flex-direction: row;
//             justify-content: end;
//             gap: 40px;
//             padding-right: 100px;
//             width: 100%;
//             height: 40px;
//             align-items: center;

//             .lista_element{
//                 list-style: none;
//                 color: #559933;
//                 font-weight: bold;
//                 // border: 1px solid red;
//                 height: 100%;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 position: relative;
//                 &:hover{
//                     color: rgb(77, 20, 184);
//                 }
//                 &:hover::before{
//                     content: '';
//                     width: 100%;
//                     height: 3px;
//                     background-color: rgb(77, 20, 184);
//                     // display: block;
//                     position: absolute;
//                     bottom: 0px;

//                 }
//             }
//         }
//     }
// }

