table {
    box-sizing: border-box;
    border: 1px solid rgb(128, 86, 86);
    border-collapse:separate;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: rgb(85, 18, 18);
    overflow: hidden;
    width: 100%;
    height: 500px;
    // overflow: scroll;
    // text-align: justify;
    // border-spacing: 10px 5px;
    
    input{
        width: 90%;
        height: 20px;
        border: 1px solid black;
        background-color: gray;
    }

    td, th{
        width: 30px;
        text-align: center;
        // border: 1px solid red;
    }

    thead {
        background-color: green;
        // color: white;
        font-family:'Courier New', Courier, monospace;
        font-size: 10px ;
        // width: 800px;
       
    }



}
// 