table {
    box-sizing: border-box;
    border: 1px solid rgb(128, 86, 86);
    border-collapse:separate;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: rgb(85, 18, 18);
    overflow: hidden;
    width: 100%;
    height: 300px;
    // border-spacing: 10px 5px;
    
    td, th{
        // width: 40px;
        // border: 1px solid red;
    }

    // thead {
    //     background-color: green;
    //     // color: white;
    //     font-family:'Courier New', Courier, monospace;
    //     font-size: 10px ;
    //     width: 800px;
       
    // }



}
